#maps {
    height: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h5 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#header {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

button #find_location{
    background-color: rgb(7, 89, 7);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
button #find_location:hover, button #find_location:active {
    background-color: rgb(27, 164, 27);
    border: none;
}
button {
    background-color: rgb(58, 206, 58);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;  
}

button:hover, button:active {
    background-color: rgb(27, 164, 27);
    border: none;
}

#form {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#form input {
    margin-right: 5px;
}
#form input[type="submit"] {
    background-color: rgb(29, 199, 29);
    border: none;
}

#form input[type="submit"]:hover, #form input[type="submit"]:active {
    background-color: rgb(25, 119, 25);
    border: none;
}
